* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 78px;
}

.logo {
    height: 78px;
    width: auto;
    background-image: url('../public_html/img/LogoCampusCamaraHeader.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    margin-left: auto;
}

nav a {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.main-title {
    background-color: rgb(11, 158, 213);
    color: #ffffff;
    font-size: 23px;
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
}

.sub-title {
    background-color: rgb(14, 34, 85);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 1px 0;
    font-weight: bold;
}

.familias {
    padding: 40px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Se ajusta el tamaño mínimo de las tarjetas */
    gap: 20px;
}

.familia-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.familia-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 30px;
    background-color: rgb(15, 148, 183);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    color: #ffffff;
    height: 100%;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.familia-card h2 {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.familia-card p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.extra-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(12, 58, 145);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.extra-card p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin: 10px 0;
    position: relative;
    padding-left: 25px;
}

.extra-card p::before {
    content: "●";
    position: absolute;
    left: 0;
    color: white;
    font-size: 18px;
    line-height: 1;
}

footer {
    background-color: rgb(39, 37, 34);
    color: #ffffff;
    font-size: 20px;
    height: 180px;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-logo img {
    height: 78px;
    width: 218px;
}

.footer-gallery {
    display: flex;
    gap: 10px;
}

.footer-gallery img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 4px;
}

.footer-email, .footer-phone {
    font-size: 16px;
    margin-left: auto;
}

.footer-email img,
.footer-phone img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Contenedor del acordeón */
.accordion-container {
    display: flex;
    justify-content: flex-end; /* Alinea el acordeón hacia el lado derecho */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    width: 100%; /* Asegura que el contenedor tenga el ancho completo */
    padding-right: 20px; /* Espacio al borde derecho */
}

/* Acordeón específico */
.custom-accordion {
    width: 100%;
    max-width: 600px; /* Aumentado desde 400px */
    margin-left: auto;
    margin-right: 0;
}

/* Estilos de las cabeceras y botones del acordeón */
.card-header {
    background-color: rgb(11, 158, 213); /* Color de fondo de la cabecera */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.accordion-button {
    background-color: rgb(11, 158, 213); /* Fondo del botón */
    color: white; /* Color del texto */
    border-radius: 10px; /* Bordes redondeados */
    border: none; /* Sin borde */
    font-weight: bold; /* Texto en negrita */
}

.accordion-button:focus {
    box-shadow: none; /* Elimina el borde de foco */
}

.accordion-button.collapsed {
    background-color: rgb(11, 158, 213); /* Cambia el color cuando el acordeón está cerrado */
}

.accordion-body {
    background-color: rgb(11, 158, 213); /* Color de fondo cuando el acordeón está expandido */
    color: #333; /* Color del texto */
    padding: 20px;
    border-radius: 10px;
}

.sub-title2 {
    background-color: orange !important;
    color: white !important;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 23px;
}


